<footer
  class="w-100 d-flex position-fixed bottom-0 d-flex justify-content-center"
  style="background-color: #9cc4e4"
>
  <h4 class="fst-italic text-light me-1">Create by Ryan Aragão</h4>
  <div class="d-flex" style="width: 50px">
    <a href="https://github.com/Ryan-012" class="me-1" style="width: 30px">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
    /></a>
    <a style="width: 30px" href="linkedin.com/in/ryan-aragão-8b3152216">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg"
      />
    </a>
  </div>
</footer>
