<header class="p-2" style="background-color: #9cc4e4">
  <div class="container text-center" style="background-color: #9cc4e4">
    <h1 class="text-light">Welcome To School Management !</h1>
  </div>
</header>

<%- include("footer.ejs") %>
