<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/links') %> <%- include('partials/style') %>
    <title>Error</title>
  </head>
  <body class="fst-italic">
    <main
      class="d-flex justify-content-center align-items-center vh-100"
      style="background-color: black"
    >
      <h1 class="fs-1 text-danger">Acess Denied</h1>
    </main>
  </body>
</html>
